/* styles/contactus.css */

/* Reset default margin and padding */
body, h1, h2, p, figure, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Set background color and text color */
  body {
    background-color: #f2f2f2;
    color: #333;
    font-family: Arial, sans-serif;
  }
  
  /* Header styling */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  header img {
    width: 100px;
    height: auto;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Hero section styling */
  .hero {
    background-color: #fff;
    padding: 50px;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .hero article {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .hero article p {
    margin-left: 10px;
  }
  
  /* Main section styling */
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  section h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  section p {
    margin-bottom: 20px;
  }
  
  section figure {
    margin-bottom: 20px;
  }
  
  section figure img {
    width: 100%;
    height: auto;
  }
  
  section figure figcaption {
    font-style: italic;
    text-align: center;
  }
  
  /* Footer styling */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .sociallinks {
    margin-top: 10px;
  }
  
  .sociallinks a {
    margin-right: 10px;
  }

  form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: aliceblue;

    padding-right: 40px;
  }
  
  fieldset {
    margin-bottom: 20px;
    border: none;
    padding: 0;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  
  select {
    width: 100%;
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  
  button[type="submit"] {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    width: 100%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  
  input[type="number"] {
    width: 100%;
    margin-bottom: 50px;
    padding: 10px;
    border: 2px solid;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  button[type="submit"]:focus {
    outline: none;
  }
  
  h1 {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    padding-right: 40px;
  }